* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali */

body {
    font-family: "Open+Sans:ital,wght@0,300..800;1,300..800&display=swap", Arial, Helvetica, sans-serif;
}

.container {
    width: 65%;
    /* DEBUG */
    /* background-color: azure; */
    /* height: 800px; */
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
}

/* regole header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 900;
    width: 100%;
}

.main-nav img {
    height: 22px;
    text-align: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%; 
    /* DEBUG */
    /* background-color: red; */
    /* height: 60px; */
}

.left-nav,
.right-nav {
    font-size: 20px;
    /* DEBUG */
    /* background-color: blue; */
    /* width: 30%; */
}

.main-nav a {
    padding: 0 5px;
    text-decoration: none;
    color: inherit;    
}

/* regole button */

.button {
    background-color: #0061fe;
    color: white;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

.button-partner {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.check-box {
    display: inline-block;
    border: 2px solid grey;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: relative
}

.selcheck-box {
    border: 5px solid #0061fe;
}

/* regole hover */

.button:hover {
    background-color: rgba(0, 97, 254, 0.7);
}

.button-partner:hover {
    background-color: transparent;
}

.main-nav a:hover {
    border-bottom: 1px solid grey;
    padding-bottom: 25px;
}

/* regole jumbotron */

.jumbotron {
    display: flex;
    justify-content: center;
    background-color: #b4d0e6;
    min-height: 415px;
    margin-top: 80px;
}

.jumbo {
    width: 70%;
    /* DEBUG */
    /* background-color: green; */
    /* height: 350px; */
}

.jumbo-content {
    display: flex;
    padding: 15px 0;
    /* DEBUG */
    /* background-color: brown; */
    /* height: 330px; */
}

.jumbo-text {
    width: 35%;
    /* DEBUG */
    /* background-color: yellow; */
    /* height: 280px; */
}

.jumbo-img {
    width: 65%;
    position: relative;    
    /* DEBUG */
    /* background-color: grey; */
    /* height: 280px; */
}

.jumbo-img img {
    position: absolute; 
    bottom: -60px; 
}

.jumbo-text p {
    margin-bottom: 25px;
}

.jumbo-text div {
    margin-top: 25px;
    margin-bottom: 40px;
}

.arrow-down {
    font-size: 25px;
    color: black;    
}

/* regole main */

main {
    display: flex;
    justify-content: center;
}


/* regole sezione piani */


h2 {
    font-size: 35px;
    padding: 30px 0;
}

.plan-cont h4 {
    padding: 20px 0;
}

.section-plans {
    margin-top: 50px;
    /* DEBUG */
    /* background-color: orange; */
    /* height: 680px; */
}

.plan-types {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 30px;
}

.plan {
    width: 30%;
    border: 1px solid grey;
    /* DEBUG */
    /* background-color: red; */
    /* height: 400px; */
}

.checkbox-container {
    padding-bottom: 20px;
}

.plan-cat {
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 10px 0;
}

.plan-cont {
    padding: 20px 10px;
}

.text-col {
    color: grey;
    padding: 10px 0 20px 0;
}

#button-plan {
    padding: 30px 0 30px 0;
    text-align: center;
}


.plan-cont i {
    padding-right: 5px;
}

.plan-cont li {
    display: flex;
    padding: 10px 0;
}

.plan-line {
    width: 20%;
    border-top: 1px solid grey;
    margin-top: 30px;
    margin-bottom: 20px;
}

.blue-sign i {
    color: #0066ff;
}

/* regole sezione piano personalizzato */

.plan-pers {
    border: 1px solid grey;
    margin-bottom: 30px;
    /* DEBUG */
    /* background-color: violet; */
    /* height: 200px; */
}

.plan-cont-pers {
    display: flex;
}

.plan-pers-pers {
    display: flex;
}

.plan-cont-pers h4,
.plan-cont-pers h6 {
    padding-bottom: 15px;
}


.plan-pers-text {
    width: 70%;
}

.plan-pers-button {
    width: 30%;
    text-align: center;
}

/* regole sezione partner */

.partner {
    display: flex;
    margin-bottom: 40px;
    /* DEBUG */
    /* background-color: blue; */
    /* height: 300px; */
}

.partner-img {
    width: 60%;
    /* DEBUG */
    /* background-color: grey; */
    /* height: 280px; */
}

.main-text {
    width: 40%;
    padding: 30px 20px;
    /* DEBUG */
    /* background-color: black; */
    /* height: 280px; */
}

.main-text h3,
.main-text div {
    padding-bottom: 20px;
}


/* regole sezione business */

.business {
    width: 100%;
    /* DEBUG */
    /* background-color: goldenrod; */
    /* height: 800px; */
}

.business-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* DEBUG */
    /* background-color: cyan; */
    /* height: 650px; */
}

.box {
    width: 32%;
    /* DEBUG */
    /* background-color: red; */
    /* height: 300px; */
}

.box img {
    width: 100%;
}

.box h3,
.box div {
    padding-bottom: 20px;
}

.business-text {
    width: 60%;
}

/* regole footer */

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    /* height: 400px; */
    width: 100%;
    margin-top: 60px;
}

.section-foot {
    width: 70%;
    padding-top: 40px;
    /* DEBUG */
    /* background-color: red; */
    /* height: 300px; */
}

.foot-nav {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 30px;
    /* DEBUG */
    /* background-color: blue; */
    /* height: 400px; */
}

.foot-nav h3 {
    font-size: 20px;
    padding-bottom: 25px;
}

.foot-nav li {
    padding-bottom: 20px;
}

.foot-text {
    width: 15%;
    color: grey;
    border-top: 2px solid grey;
    padding: 40px 0;
    /* DEBUG */
    /* background-color: green; */
    /* height: 100px; */
}

.section-foot a {
    padding: 0 5px;
    text-decoration: none;
    color: inherit;
}