* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open+Sans:ital,wght@0,300..800;1,300..800&display=swap", Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    /* DEBUG */
    background-color: azure;
    height: 800px;

}

/* regole header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 98%;
    /* DEBUG */
    background-color: red;
    height: 60px;
}

.left-nav,
.right-nav {
    /* DEBUG */
    background-color: blue;
    width: 30%;
}

/* regole jumbotron */

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4d0e6;
    height: 400px;
}

.jumbo {
    width: 80%;
    /* DEBUG */
    background-color: green;
    height: 350px;
}

.jumbo-content {
    display: flex;
    align-items: center;
    /* DEBUG */
    background-color: brown;
    height: 330px;
}

.jumbo-text {
    width: 30%;
    /* DEBUG */
    background-color: yellow;
    height: 280px;
}

.jumbo-img {
    width: 70%;
    /* DEBUG */
    background-color: grey;
    height: 280px;
}

/* regole main */

main {
    display: flex;
    justify-content: center;
}


/* regole sezione piani */

.section-plans {
    /* DEBUG */
    background-color: orange;
    height: 680px;
}

.plan-types {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.plan {
    width: 32%;
    /* DEBUG */
    background-color: red;
    height: 400px;
}

.plan-pers {
    /* DEBUG */
    background-color: violet;
    height: 200px;
}

/* regole sezione partner */

.partner {
    display: flex;
    align-items: center;
    /* DEBUG */
    background-color: blue;
    height: 300px;
}

.partner-img {
    width: 60%;
    /* DEBUG */
    background-color: grey;
    height: 280px;
}

.main-text {
    width: 40%;
    /* DEBUG */
    background-color: black;
    height: 280px;
}

/* regole sezione business */

.business {
    width: 100%;
    /* DEBUG */
    background-color: goldenrod;
    height: 800px;
}

.business-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* DEBUG */
    background-color: cyan;
    height: 650px;
}

.box {
    width: 32%;
    /* DEBUG */
    background-color: red;
    height: 300px;
}